
@model Lab3_08_01_2021.Models.Domain.Student

@{
    Layout = null;
}

<html>

<head>

    <meta name="viewport" content="width=device-width" />

</head>
<body>

    <div>

        @using (Html.BeginForm("Index", "Student", FormMethod.Post))

        {<table>

                <tr>

                    <td>UserName</td>

                    <td>

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        <br />

                    </td>

                </tr>

                <tr>

                    <td>Password</td>

                    <td>

                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })

                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        <br />

                    </td>

                </tr>

                <tr>

                    <td></td>

                    <td>

                        <br />

                        <input type="submit" value="Login" class="btn-default" />

                    </td>

                </tr>

            </table>

        }

    </div>

</body>

</html>






